/*全局*/
body{font-family:微軟正黑體;}
html::-webkit-scrollbar-track-piece{background:lightgrey}
html::-webkit-scrollbar{width:9px;height:9px}
html::-webkit-scrollbar-thumb{height:40px;border-radius:4px;background-color:darkgrey}
html::-webkit-scrollbar-thumb:hover{background-color:grey}

.hljs::-webkit-scrollbar-track-piece{background:lightgrey}
.hljs::-webkit-scrollbar{width:9px;height:9px}
.hljs::-webkit-scrollbar-thumb{height:40px;border-radius:4px;background-color:darkgrey}
.hljs::-webkit-scrollbar-thumb:hover{background-color:grey}

/*布局*/
.g-bd1{margin:0;}
.g-sd1{position:fixed;float:left;width:260px;height:100vh;margin-right:-260px;background-color:mediumspringgreen;background-image:url(../img/left-bar-bg.jpg);background-size:cover;background-position:50% 50%;transition:width 0.5s,margin 0.5s;}
.g-sd1-on{margin-left:0!important;}
.g-mn1{float:right;width:100%;overflow:hidden;}
.g-mn1c{margin-left:260px;padding:30px;transition:margin 0.5s;}
.g-mn1c-on{margin-left:190px!important;margin-right:-190px!important;}

/*侧栏*/
.x-logo-box{margin-top:40px;width:100%;}
.x-logo{display:block;margin:auto;width:128px;height:128px;border-radius:128px;}
.x-menu-box{margin-top:40px;width:100%;}
.x-menu{width:100%;font-size:1.6em;}
.x-menu li{width:130px;margin:auto;line-height:2.2em;letter-spacing:0.2em;text-align:center;}
.x-menu a{color:white;text-shadow:0 0 5px black;}
.x-menu-dropdowm ul{display:none;height:0;margin-top:0px;}
.x-menu-dropdowm ul li{font-size:0.9em;}
.x-menu-dropdowm a{position:relative;}
.x-menu-dropdowm-si{position:absolute;right:-10px;top:10px;width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;border-top:8px solid whitesmoke;}
.x-menu-dropdowm-on{display:block!important;height:auto!important;}
.x-copy{position:absolute;bottom:30px;width:100%;text-align:center;text-shadow:0 0 5px black;font-size:1em;color:whitesmoke;opacity:0.8;}

/*小屏顶栏*/
.x-mbar{position:fixed;z-index:999;display:none;width:100%;height:50px;background-color:white;border-bottom:1px solid whitesmoke;transition:margin 0.5s;}
.x-mbar-on{margin-left:190px;margin-right:-190px;}
.x-mbar-menu{position:absolute;top:0;left:0;width:30px;height:30px;margin:10px;}
.x-mbar-menu span{position:absolute;height:1px;width:30px;background-color:darkgrey;transition:opacity 0.5s,transform 0.5s;}
.x-mbar-menu span:nth-child(1){top:4px;transform-origin:0 0;}
.x-mbar-menu span:nth-child(2){top:14px;}
.x-mbar-menu span:nth-child(3){bottom:4px;transform-origin:0 0;}
.x-mbar-menu-rd{transform:rotate(45deg);}
.x-mbar-menu-dn{opacity:0;}
.x-mbar-menu-ru{transform:rotate(-45deg);}
.x-mbar-tit{width:100%;text-align:center;font-size:1.7em;line-height:50px;}
.x-mbar-logo{position:absolute;top:0;right:0;width:30px;height:30px;margin:10px;}
.x-mbar-logo img{width:100%;height:100%;border-radius:30px;border:1px solid whitesmoke;}

/*文章/列表*/
.x-post-item{min-height:210px;margin-bottom:30px;border-bottom:1px solid whitesmoke;}
.x-post-item h1{font-size:2em;margin-bottom:10px;}
.x-post-item img{max-width:100%;display:block;border-radius:5px;margin-left:auto;margin-right:auto;}
.x-post-item-meta{margin-bottom:10px;font-size:1.1em;color:darkgrey;}
.x-post-item-meta date{margin-right:5px;}
.x-post-item-meta a{color:darkgrey;}
.x-post-item-cover{float:right;display:inline-block;width:150px;height:150px;vertical-align:top;margin:0 0 20px 20px;}
.x-post-item-cover img{width:150px;height:150px;border-radius:5px;object-fit:cover;}
.x-post-item-cont{margin-bottom:10px;font-size:1.3em;line-height:1.8em;}
.x-post-item-cont p{margin-top:5px;margin-bottom:5px;}
.x-post-item-cont li{list-style:circle!important;margin-left:20px!important;}
.x-post-item-cont pre{background:whitesmoke;border-radius:3px;font-family:Source Code Pro,Consolas,Menlo,Monaco,Courier New,monospace;}
.x-post-item-cont code{background:whitesmoke;border-radius:3px;color:darkred;}
.x-post-item-cont pre code{max-height:420px;word-break:break-all;word-wrap:break-word;color:#333}
.x-post-item more{display:block;font-size:1.2em;margin-bottom:10px;}

/*翻页*/
.x-page-pointer{width:100%;}
.x-page-pointer-off{display:none;}
.x-page-pointer li{display:inline-block;width:90px;border:1px solid darkgrey;border-radius:5px;font-size:1.2em;text-align:center;line-height:2em;}
.x-page-pointer li.x-disabled{border:1px solid lightgrey;}
.x-disabled,.x-disabled a{cursor:not-allowed;color:lightgrey;}
.x-next{float:right;}

/*links*/
.x-linkitem {position:relative;float:left;width:220px;height:80px;margin:10px;padding:10px;border-radius:15px;transition:background-color 1s;-moz-transition:background-color 1s;-webkit-transition:background-color 1s;-o-transition:background-color 1s;}
.x-linkitem:hover {background-color:#FFC464;}
.x-linklogo {margin-left:0px!important;width:80px;height:80px;border-radius:40px!important;object-fit:cover;background-color:#FFFFFF;}
.x-linkname {position:absolute;left:100px;top:20px;margin:0px;}
.x-linkdesc {position:absolute;left:100px;top:55px;margin:0px;}

/*返回顶部*/
.cd-top{z-index:100;display:inline-block;height:40px;width:40px;position:fixed;bottom:20px;right:20px;border-radius:5px;box-shadow:0 0 10px rgba(0, 0, 0, 0.05);overflow:hidden;text-indent:100%;white-space:nowrap;background:rgba(33, 33, 33, 0.8) url(../img/cd-top-icon.svg) no-repeat center 50%;visibility:hidden;opacity:0;-webkit-transition:opacity .3s 0s, visibility 0s .3s;-moz-transition:opacity .3s 0s, visibility 0s .3s;transition:opacity .3s 0s, visibility 0s .3s;}
.cd-top.cd-is-visible,.cd-top.cd-fade-out,.no-touch .cd-top:hover {-webkit-transition:opacity .3s 0s, visibility 0s 0s;-moz-transition:opacity .3s 0s, visibility 0s 0s;transition:opacity .3s 0s, visibility 0s 0s;}
.cd-top.cd-is-visible {visibility:visible;opacity:1;}
.cd-top.cd-fade-out {opacity:.5;}
.no-touch .cd-top:hover {background-color:#e86256;opacity:1;}

/*Loading*/
#x-lbox {
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:rgba(33, 33, 33, 0.5);
}

#x-loading {
	margin-top:calc(50vh - 55px);
}

.cssload-thecube {
	width:70px;
	height:70px;
	margin:0 auto;
	margin-top:49px;
	position:relative;
	transform:rotateZ(45deg);
	-o-transform:rotateZ(45deg);
	-ms-transform:rotateZ(45deg);
	-webkit-transform:rotateZ(45deg);
	-moz-transform:rotateZ(45deg);
}

.cssload-thecube .cssload-cube {
	position:relative;
	transform:rotateZ(45deg);
	-o-transform:rotateZ(45deg);
	-ms-transform:rotateZ(45deg);
	-webkit-transform:rotateZ(45deg);
	-moz-transform:rotateZ(45deg);
}

.cssload-thecube .cssload-cube {
	float:left;
	width:50%;
	height:50%;
	position:relative;
	transform:scale(1.1);
	-o-transform:scale(1.1);
	-ms-transform:scale(1.1);
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
}

.cssload-thecube .cssload-cube:before {
	content:"";
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#333;
	animation:cssload-fold-thecube 2.76s infinite linear both;
	-o-animation:cssload-fold-thecube 2.76s infinite linear both;
	-ms-animation:cssload-fold-thecube 2.76s infinite linear both;
	-webkit-animation:cssload-fold-thecube 2.76s infinite linear both;
	-moz-animation:cssload-fold-thecube 2.76s infinite linear both;
	transform-origin:100% 100%;
	-o-transform-origin:100% 100%;
	-ms-transform-origin:100% 100%;
	-webkit-transform-origin:100% 100%;
	-moz-transform-origin:100% 100%;
}

.cssload-thecube .cssload-c2 {
	transform:scale(1.1) rotateZ(90deg);
	-o-transform:scale(1.1) rotateZ(90deg);
	-ms-transform:scale(1.1) rotateZ(90deg);
	-webkit-transform:scale(1.1) rotateZ(90deg);
	-moz-transform:scale(1.1) rotateZ(90deg);
}

.cssload-thecube .cssload-c3 {
	transform:scale(1.1) rotateZ(180deg);
	-o-transform:scale(1.1) rotateZ(180deg);
	-ms-transform:scale(1.1) rotateZ(180deg);
	-webkit-transform:scale(1.1) rotateZ(180deg);
	-moz-transform:scale(1.1) rotateZ(180deg);
}

.cssload-thecube .cssload-c4 {
	transform:scale(1.1) rotateZ(270deg);
	-o-transform:scale(1.1) rotateZ(270deg);
	-ms-transform:scale(1.1) rotateZ(270deg);
	-webkit-transform:scale(1.1) rotateZ(270deg);
	-moz-transform:scale(1.1) rotateZ(270deg);
}

.cssload-thecube .cssload-c2:before {
	animation-delay:0.35s;
	-o-animation-delay:0.35s;
	-ms-animation-delay:0.35s;
	-webkit-animation-delay:0.35s;
	-moz-animation-delay:0.35s;
}

.cssload-thecube .cssload-c3:before {
	animation-delay:0.69s;
	-o-animation-delay:0.69s;
	-ms-animation-delay:0.69s;
	-webkit-animation-delay:0.69s;
	-moz-animation-delay:0.69s;
}

.cssload-thecube .cssload-c4:before {
	animation-delay:1.04s;
	-o-animation-delay:1.04s;
	-ms-animation-delay:1.04s;
	-webkit-animation-delay:1.04s;
	-moz-animation-delay:1.04s;
}

@keyframes cssload-fold-thecube {
	0%,
	10% {
		transform:perspective(136px) rotateX(-180deg);
		opacity:0;
	}
	25%,
	75% {
		transform:perspective(136px) rotateX(0deg);
		opacity:1;
	}
	90%,
	100% {
		transform:perspective(136px) rotateY(180deg);
		opacity:0;
	}
}

@-o-keyframes cssload-fold-thecube {
	0%,
	10% {
		-o-transform:perspective(136px) rotateX(-180deg);
		opacity:0;
	}
	25%,
	75% {
		-o-transform:perspective(136px) rotateX(0deg);
		opacity:1;
	}
	90%,
	100% {
		-o-transform:perspective(136px) rotateY(180deg);
		opacity:0;
	}
}

@-ms-keyframes cssload-fold-thecube {
	0%,
	10% {
		-ms-transform:perspective(136px) rotateX(-180deg);
		opacity:0;
	}
	25%,
	75% {
		-ms-transform:perspective(136px) rotateX(0deg);
		opacity:1;
	}
	90%,
	100% {
		-ms-transform:perspective(136px) rotateY(180deg);
		opacity:0;
	}
}

@-webkit-keyframes cssload-fold-thecube {
	0%,
	10% {
		-webkit-transform:perspective(136px) rotateX(-180deg);
		opacity:0;
	}
	25%,
	75% {
		-webkit-transform:perspective(136px) rotateX(0deg);
		opacity:1;
	}
	90%,
	100% {
		-webkit-transform:perspective(136px) rotateY(180deg);
		opacity:0;
	}
}

@-moz-keyframes cssload-fold-thecube {
	0%,
	10% {
		-moz-transform:perspective(136px) rotateX(-180deg);
		opacity:0;
	}
	25%,
	75% {
		-moz-transform:perspective(136px) rotateX(0deg);
		opacity:1;
	}
	90%,
	100% {
		-moz-transform:perspective(136px) rotateY(180deg);
		opacity:0;
	}
}